*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

header{

    width: 80%;
    margin: auto;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom:  10px;

}

footer{
    height: 120px;
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

h1{
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-spacing: 5%;
    padding:0 30px;
}

h3{
    font-size: 30px;
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main:after {
    content: '';
    display: table;
    clear: both;
}

.container{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_container > span{
    margin-right: 30px;
    position: relative;
    margin-top: 10px;
    /* text-align: center;
    position: relative; */
}

.image{
    height: 450px;
    background-image: url("forest.jpg");
    background-size: cover;
}

.space{
    padding: 10px;
    background-color: white;
}

.menu_container{
    height: 60px;
    background-color: #c7b3a5;
    padding-left: 20%;
    padding-top:15px;
}

.rss{
    height: 300px;
    width: 15%;
    margin-right: 5%;
    background-color: white;
    float: left;
    border-radius: 5px
}

.main_text{
    width: 60%;
    background-color: white;
    border-radius: 5px;
    float: left;
}

.widget_sec{
    width: 15%;
    float: right;
    margin-left: 5%;

}

.widget{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
}
